.popup__input {
  box-sizing: border-box;
  height: 27px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 13px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid  rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.2;
  vertical-align: top;
}

.popup__input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 1.2;
}