.header__logo {
  width: 142px;
  height: 33px;
  color: #ffffff;
  margin-bottom: 41px;
}

.header__logo:hover{
  opacity: .6;
}

@media screen and (max-width: 906px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 32px;
    width: 104px;
    height: 25px;
  }
}